.form-control {
    transition: 0.5s;
}

.form-control:focus {
    background-color: var(--principal);
    border-color: var(--b);
    color: var(--b);
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    transition: 0.5s !important;
}

.form-control:hover {
    background-color: var(--principal);
    border-color: var(--b);
    color: var(--b);
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.btn {
    background-color: var(--principal);
    color: var(--b);
    transition: 0.5s !important;
}

.btn:hover {
    color: rgb(181, 181, 181);
    transition: 0.5s !important;
}

.btn-outline-dark {
    border-radius: 0.25rem;
    border: 1px solid transparent !important;
    color: var(--principal) !important;
    transition: 0.5s !important;
    background-color: var(--b) !important;
}

.btn-outline-dark:hover {
    color: var(--b) !important;
    background-color: var(--principal) !important;
}