*, html, body {
	font-family: 'DM Sans', sans-serif !important;
}

a {
    text-decoration: none;
    color: var(--principal);
    transition: 0.5s;
}

a:hover {
    transition: 0.3s;
    cursor: pointer;
    color: var(--bs-red);
}