.form-control {
    transition: 0.5s;
}

.form-control:focus {
    background-color: var(--b-hover) !important;
    color: var(--b) !important;
    box-shadow: 0 0 0 0.05rem var(--principal-low);
    transition: 0.5s !important;
}

.blur {
    border-radius: 40px;
}

.svg {
    fill: var(--b);
    transition: 0.4s;
}

.svg:hover {
    fill: var(--b-hover);
    transition: 0.4s;
}

.icono {
    font-size: 1.2rem;
}

.salir:hover {
    fill: var(--bs-red);
    transition: 0.4s;
}

.nav-link {
    color: var(--b);
}

.nav-link:hover {
    color: var(--principal-low);
}

.nav-link:focus, .nav-link:hover {
    color: var(--principal-low);
    color: var(--b-hover);
}

.next:hover, .previous:hover {
    color: var(--b-hover);
}

.row {
    --bs-gutter-x: 0 !important
}

.accordion-button:not(.collapsed) {
    color: var(--b);
    background-color: var(--principal);
    border-color: 1px solid white
}

.accordion-button:focus {
    z-index: 3;
    background-color: var(--principal);
    border-color:white !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.accordion-button {
    background-color: var(--dark) !important;
    border-bottom: 1px solid var(--b);
    color: var(--b);
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem transparent;
}

.btn-outline-color {
    color: var(--principal);
    border: 1px solid var(--principal);
    background-color: var(--b);
}

.btn-outline-color:hover {
    color: var(--principal);
    border: 1px solid var(--b);
    background-color: var(--principal-low);
}

.bg-color {
    background-color: var(--principal) !important;
}

.btn-color {
    background-color: var(--principal) !important;
    border-color: var(--principal) !important;
    color: var(--b) !important;
}

.btn-color:hover {
    background-color: var(--b) !important;
    color: var(--principal) !important;
} 

.border-color {
    border-color: var(--principal) !important;
}

.border-dark {
    border-color: transparent !important;
}

.text-color {
    color: var(--principal) !important;
}

.table {
    background-color: var(--b);
    border-color: transparent !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid transparent;
}

thead {
    background-color: var(--principal);
    color: var(--b);
}