.form-control {
    transition: 0.5s;
}

.form-control:focus {
    background-color: var(--principal-low) !important;
    border-color: var(--g) !important;
    color: var(--b) !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.473);
    transition: 0.5s !important;
}

.form-control:hover {
    background-color: var(--principal-low) !important;
    border-color: var(--b) !important;
    color: var(--b) !important;
}

.bg-color {
    background-color: var(--principal) !important;
}

.btn-color {
    background-color: var(--principal) !important;
    color: var(--oscuro);
}

.blur {
    border-radius: 40px;
}

.svg {
    fill: var(--oscuro);
    transition: 0.4s;
}

.svg:hover {
    fill: var(--b);
    transition: 0.4s;
}

.salir:hover {
    fill: var(--bs-red);
    transition: 0.4s;
}

.nav-link {
    color: var(--b);
}

.nav-link:hover {
    color: var(--principal-low);
}

.nav-link:focus, .nav-link:hover {
    color: var(--principal-low);
    color: var(--b-hover);
}

.next:hover, .previous:hover {
    color: var(--b-hover);
}

.row {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
    --bs-gutter-x: 0 !important
}

.accordion-button:not(.collapsed) {
    color: var(--b);
    background-color: var(--principal);
    border-color: 1px solid white
}

.accordion-button:focus {
    z-index: 3;
    background-color: var(--principal);
    border-color:white !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.accordion-button {
    background-color: var(--dark) !important;
    color: var(--b);
    border-bottom: 1px solid var(--b);
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem transparent;
}