::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--col);
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: .10rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}