*, html, body {
	font-family: 'DM Sans', sans-serif !important;
}

a {
    text-decoration: none;
    color: var(--b);
    transition: 0.5s;
    text-align: center;
}

a:hover {
    transition: 0.3s;
    cursor: pointer;
    color: var(--b);
}