@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --oscuro: #191919;
    --principal: #4da6ff;
    --principal-low: #666666;
    --b: #fff;
    --b-hover: grey;
}