@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --oscuro: #191919;
    --principal: #0077ff;
    --principal-low: #d9ebff;
    --b-hover: grey;
    --b: #fff;
}

::selection {
    background-color: grey;
    color: var(--oscuro);
}